<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ONMIApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/onmi_white_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/onmi_white_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnmiAndroid"
        tools:targetApi="31">
    </application>

</manifest>